<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Exercício</title>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="content-att-exercicio">
        <h2>Atualizar Exercício</h2>
    <form action="{{ url_for('atualizar_exercicio_route', nome=exercicio['nome']) }}" method="POST">
        <label for="nome">Nome do Exercício:</label>
        <input type="text" id="nome" name="nome" value="{{ exercicio['nome'] }}" required />

        <label for="grupo_muscular">Grupo Muscular:</label>
        <select id="grupo_muscular" name="grupo_muscular" required>
            <option value="">--Selecione--</option>
            <option value="Peito" {% if exercicio['grupo_muscular'] == 'Peito' %}selected{% endif %}>Peito</option>
            <option value="Costas" {% if exercicio['grupo_muscular'] == 'Costas' %}selected{% endif %}>Costas</option>
            <option value="Pernas" {% if exercicio['grupo_muscular'] == 'Pernas' %}selected{% endif %}>Pernas</option>
            <option value="Braços" {% if exercicio['grupo_muscular'] == 'Braços' %}selected{% endif %}>Braços</option>
            <option value="Ombros" {% if exercicio['grupo_muscular'] == 'Ombros' %}selected{% endif %}>Ombros</option>
            <option value="Abdômen" {% if exercicio['grupo_muscular'] == 'Abdômen' %}selected{% endif %}>Abdômen</option>
        </select>

        <label for="repeticoes">Repetições:</label>
        <input type="text" id="repeticoes" name="repeticoes" value="{{ exercicio['repeticoes'] }}" min="1" required />

        <label for="intervalo">Intervalo:</label>
        <input type="text" id="intervalo" name="intervalos" value="{{ exercicio['intervalos'] }}" min="1" required />

        <button type="submit" class="button">Atualizar Exercício</button>
    </form>
    </div>
    {% endblock %}

</body>
</html>